@using MVC1.Models
@model Usuario
@{
    ViewBag.Title = "Inicio";
}

<h2>Inicio</h2>

<form method="POST" action="@Url.Action("LoguearUsuario", "Home")">
    @{ 
        if(ViewBag.ErrorLogueo!=null)
        {
            @ViewBag.ErrorLogueo;
        }
    }

    @{
        if (ViewBag.Titulo != null)
        {
            @ViewBag.Titulo;
        }
    }

    @Html.ValidationMessageFor(x => x.usuario)<br />
    Usuario: @Html.TextBoxFor(x => x.usuario)<br />

    @Html.ValidationMessageFor(x => x.contraseña)<br />
    Contraseña: @Html.PasswordFor(x => x.contraseña)<br />

    <input type="submit" value="Ingresar"/>

   @Html.ActionLink("Registrarse", "Registracion", "Home")

</form>